.app__footer {
  width: 100%;
  height: 100vh;
  background: var(--secondary-color);
}
.app_footer-details p {
  /* height: 40vh; */

  padding: 23px;
  width: 100%;

  overflow: hidden;
}
.app_footer-details span {
  display: block;
  color: var(--white-color);
  width: 100%;
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  margin: auto;
  text-transform: capitalize;

  position: relative;
}

.app__footer-navbar {
  flex-direction: column;
  display: flex;
  overflow-y: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.app__footer-navbar ul li a:hover {
  color: var(--gray-color);
}
.app__footer-navbar ul li a {
  color: var(--white-color);
  text-decoration: none;
}
.app__footer-navbar ul li {
  font-size: 30px;
  text-transform: capitalize;
}
.app__footer-navbar ul {
  flex: 1;
}
.app__footer-logo {
  /* width: 20rem; */
}
@media screen and (max-width: 900px) {
  .app__footer-navbar {
    flex-direction: column;
  }
  .app__footer-logo {
    width: 10rem;
  }
  .app__footer-navbar {
    height: 45vh;
  }

  .app_footer-details p {
    height: 33vh;
    overflow: scroll;
  }
  .app__footer-navbar ul li {
    font-size: 20px;
  }
}
